@mixin text-ellipsis($line-clamp: 1, $max-height: none) {
    display: -webkit-box;
    max-height: $max-height;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line-clamp;
    -webkit-box-orient: vertical;
}