$light-1: rgb(242, 242, 247);
$light-2: rgb(229, 229, 234);

$dark-1: rgb(28, 28, 30);
$dark-2: rgb(44, 44, 46);

$gray: rgb(142, 142, 147);
$blue: rgb(64, 156, 255);
$red: rgb(255, 69, 58);
$teal: rgb(90, 200, 250);

$color-background: $light-1;
$color-foreground: $light-2;
$color-primary: $blue;
$color-default: $gray;
$color-danger: $red;
$color-text: $dark-1;

[data-theme='dark'] {
  $color-background: $dark-1;
  $color-foreground: $dark-2;
  $color-primary: $teal;
  $color-text: $light-1;
 }
