.list-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 1rem .7rem;

    h1 {
        font-size: 1.5rem;
    }

    a {
        font-size: 0.8rem;
    }
}

.list-content {
    position: relative;
    display: flex;
    align-items: center;

    .chevron {
        cursor: pointer;
        opacity: .5;
        transition: opacity 200ms ease;

        &:hover {
            opacity: 1;
        }
    }

    .items {
        width: 100%;
        height: 100%;
        overflow: auto hidden;
        scroll-behavior: smooth;
        display: inherit;
        padding-bottom: 10px;
        scroll-snap-type: x proximity;

        > * {
            scroll-snap-align: center;
            margin-right: 1rem;
        }

        > *:last-child {
            margin-right: 0;
        }
        
        @media only screen and (min-width: 768px) {
    
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }


    @media only screen and (max-width: 768px) {

        .chevron {
            display: none;
        }

        .items {

            > * {
                margin-left: 1rem;
                margin-right: 0;
            }
    
            > *:last-child {
                margin-right: 1rem;
            }
        }
    }
}
