.list-header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem .8rem;

    h1 {
        font-size: 1.5rem;
    }

    a {
        font-size: 0.8rem;
    }
}

.list-content {
    align-items: center;
    display: flex;
    height: max-content;
    position: relative;
    
    &.shadow {
        box-shadow: inset 0px -100px 100px -100px color('text-1', $alpha: - .8);
    }

    .left, .right {
        background: none;
        border: 0;
        cursor: pointer;
        height: 100%;
        opacity: .5;
        position: absolute;
        transition: opacity 200ms ease;

        &:hover {
            opacity: 1;
        }

        svg {
            height: 2rem;
            width: 2rem;
        }
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .items {
        display: inherit;
        height: 100%;
        margin: 0 2rem;
        overflow: auto hidden;
        padding-bottom: 1.2rem;
        scroll-behavior: smooth;
        scroll-padding-inline: 2rem;
        scroll-snap-stop: normal;
        scroll-snap-type: x proximity;
        width: 100%;

        > * {
            margin-right: 1rem;
            scroll-snap-align: start;
        }

        > *:last-child {
            margin-right: 0;
        }
        
        @media only screen and (min-width: 768px) {

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }


    @media only screen and (max-width: 768px) {
        
        .left, .right {
            display: none;
        }
        
        .items {
            margin: 0;
            padding: 0 1rem 1.2rem;
    
            > *:last-child {
                margin-right: 0;
            }
        }
    }
}
