.media-cover {
    $border-radius: 8px;

    border-radius: $border-radius;
    color: white;
    cursor: pointer;
    height: 245px;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: 165px;
    
    .overlay {
        --span-line-clamp: 3;
        --span-line-height: 1rem;

        box-shadow: inset 0px -70px 40px -5px black;
        height: 100%;
        opacity: .7;
        position: relative;
        width: 100%;
        
        span {
            @include text-ellipsis(var(--span-line-clamp), calc(var(--span-line-clamp) * var(--span-line-height)));
            bottom: 0;
            font-size: .9rem;
            font-weight: 700;
            line-height: var(--span-line-height);
            margin: .5rem;
            position: absolute;
        }
    }

    img {
        border-radius: $border-radius;
    }

    @media only screen and (max-width: 1024px) {
        height: 205px;
        width: 140px;

        .overlay {
            --span-line-clamp: 2;
        }
    }

    @media only screen and (max-width: 768px) {
        height: 165px;
        width: 115px;

        .overlay {
            --span-line-height: .9rem;

            span {
                font-size: .8rem;
                font-weight: 600;
            }
        }
    }
}