.modal-backdrop, .modal-box {
    position: fixed;
}

.modal-backdrop {
    background-color: rgba(black, .4);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.modal-box {
    $header-height: 60px;
    $box-margin-top: 45px;
    $big-screen-min-width: 650px;

    background-color: color('background-2');
    border-radius: 12px;
    height: 60%;
    left: 50%;
    max-height: calc($big-screen-min-width - 50px);
    min-width: $big-screen-min-width;
    overflow: hidden;
    top: 50%;
    width: 50%;
    
    .header {
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: color('background-2', $alpha: - 0.2);
        display: flex;
        height: $header-height;
        justify-content: space-between;
        padding: 0 1.5rem;
        position: fixed;
        top: 0;
        width: calc(100% - 7px /*scrollbar*/);
    }

    .content {
        height: 100%;
        overflow: hidden auto;
        padding: 1.2rem;
        padding-top: $header-height;
    }

    @media screen and (max-width: $big-screen-min-width), screen and (orientation: landscape) and (max-height: 450px) and (max-width: 930px) {
        border-radius: 12px 12px 0 0;
        height: 100dvh;
        margin-top: calc($box-margin-top + env(safe-area-inset-top));
        min-width: unset;
        max-height: unset;
        width: 100vw;

        .content {
            max-height: calc(100% - $box-margin-top - env(safe-area-inset-top));
        }
    }
}
